@use "./Styles/Variable.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import "./Styles/home.scss";
@import "./Styles/registerUser.scss";
@import "./Styles/registerCompany.scss";
@import "./Styles/connexion.scss";
@import "./Styles/Nav.scss";
@import "./Styles/Profil.scss";
@import "./Styles/profilentreprise.scss";
@import "./Styles/match.scss";

@font-face {
  font-family: "proxima_nova";
  src: url("../src/assets/images/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf");
}

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #ffebd0;
}
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
button,
li {
  font-family: "Bangers", system-ui;
}

p,
label {
  font-family: "proxima_nova";
}
