.header-matches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background-color: #fff;

  .header-item {
    width: 300px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 16px;

      .match-count {
        color: red;
        font-weight: bold;
      }
    }

    .logout-button {
      width: 300px;
      background-color: #ff4500;
      box-shadow: 10px 10px 0px 0px black;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff5733;
      }
    }
  }

  .profil-texte {
    font-family: "proxima nova";
    display: flex;
    gap: 30px;
    width: 300px;
  }

  .header-logo {
    text-align: center;

    img {
      height: 50px;
    }
  }
}
