.bodyHome {
  background-image: url("../src/assets/images/fond_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.buttonconnexion-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
  padding-right: 40px;
  .button-connexion {
    padding-right: 10px;
    padding-left: 10px;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: 600;
    width: 264px;
    height: 90px;
    color: #ffffff;
    border: 1px $secondary-color-orange solid;
    background-color: $secondary-color-orange;
    box-shadow: 6px 8px 0 0 #000000;
    cursor: pointer;
  }

  .button-connexion:hover {
    box-shadow: none;
    background: darken(#ff4001, 10%);
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  .tittle-container1 {
    background-color: $primary-color-yellow;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 10px;
    box-shadow: 6px 8px 0 0 #000000;
    transform: rotate(-5.82deg);
  }
  .tittle-container2 {
    text-align: center;
    background-color: $primary-color-yellow;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 100;
    box-shadow: 6px 8px 0 0 #000000;
    transform: rotate(-5.82deg);
  }
  .tittle-container3 {
    margin-top: 70px;
    font-size: 40px;
    text-align: center;
    position: relative;
  }

  .tittle-container3 h2 {
    display: inline-block;
    position: relative;
  }
  .tittle-container3::before,
  .tittle-container3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 150px;
    height: 2px;
    background-color: black;
  }

  .tittle-container3::before {
    left: -180px;
    transform: translateY(-50%);
  }

  .tittle-container3::after {
    right: -180px;
    transform: translateY(-50%);
  }
  .radio-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #000000;
    font-size: 40px;
    cursor: pointer;
  }
  .radio-container1 input {
    margin-right: 20px;
  }
  .radio-input1 {
    width: 30px; /* Ajustez la largeur du bouton radio */
    height: 30px; /* Ajustez la hauteur du bouton radio */
  }
  .radio-container1 label {
    margin: 20px 50px;
  }
  .valide-button {
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: 200;
    width: 285px;
    height: 69px;
    color: #ffffff;
    border: 1px $secondary-color-orange solid;
    background-color: $secondary-color-orange;
    box-shadow: 6px 8px 0 0 #000000;
    cursor: pointer;
  }
}

.valide-button:hover {
  box-shadow: none;
  background: darken(#ff4001, 10%);
}

label {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 1200;
}
