@font-face {
  font-family: "proxima_nova";
  src: url("../src/assets/images/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf");
}
.bg-profil {
  background-image: url("../../src/assets/background-profil5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.information-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("../../src/assets/wondertechprofil.jpg");
  background-position: center;

  .ul-npl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Bangers", system-ui;
  }

  img {
    width: 153px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 153px;
    border: 4px solid var(--colors-color-tertiary-2, #000);
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 7px 4px 0px 0px #000;
  }
}

.ul-mgp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &:hover {
      color: #ff4001;
    }
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin: 50px;

  h2 {
    position: relative;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px;
    text-align: center;
    background-color: #ffd952;
    width: 500px;
    box-shadow: 7px 10px 0px 0px #000;
  }

  p {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 60%;
    padding: 20px;
  }
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skill-tag {
  display: inline-block;

  color: black;
  border-radius: 20px;
  padding: 4px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: auto;
  font-size: 2rem;
  font-family: "proxima_nova";
  font-weight: bold;
}

.job-tag {
  display: inline-block;
  color: black;
  border-radius: 20px;
  padding: 4px 12px;
  margin-bottom: 8px;
  width: auto;
  font-size: 2rem;
  font-weight: bold;
}
