.headFormUser {
  margin-right: 40px;
  .button-connexion {
    position: absolute;
    top: 30px;
    right: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: 600;
    width: 264px;
    height: 90px;
    color: #ffffff;
    border: 1px $secondary-color-orange solid;
    background-color: $secondary-color-orange;
    box-shadow: 6px 8px 0 0 #000000;
    cursor: pointer;
  }
}

.button-connexion:hover {
  box-shadow: none;
  background: darken(#ff4001, 10%);
}

.formTitle1 {
  background-color: $primary-color-yellow;
  padding: 10px 80px;
  margin: 70px 0;
  font-size: 2.5rem;
  font-weight: 100;
  box-shadow: 6px 8px 0 0 #000000;
  transform: rotate(-5.82deg);
}

.formTitle2 {
  background-color: $primary-color-violet;
  width: 350px;
  text-align: center;
  padding: 10px 80px;
  margin: 70px 0;
  font-size: 2.5rem;
  font-weight: 100;
  box-shadow: 6px 8px 0 0 #000000;
  transform: rotate(3.227deg);
}

.formTitle3 {
  background-color: $secondary-color-blue;
  width: 350px;
  text-align: center;
  padding: 10px 80px;
  margin: 70px 0;
  font-size: 2.5rem;
  font-weight: 100;
  box-shadow: 6px 8px 0 0 #000000;
  transform: rotate(-3.227deg);
}

.formUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  input {
    width: 250px;
    height: 25px;
    margin: 10px 0;
    border: 3px solid #000;
    background: #fff;
    padding: 0 20px;
    font-size: 20px;
  }
  .formPartOne {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .formGroup {
    margin: 10px 0;
    .formLabel {
      margin: 0 10px;
    }
  }
}

.registerLogo {
  position: absolute;
  left: 33vw;
  top: -200px;
  z-index: 1;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 4 / 1 / 5 / 3;
}
.div8 {
  grid-area: 5 / 1 / 6 / 3;
}

::placeholder {
  font-size: 1.1rem;
  font-weight: 700;
  color: $tertiary-color-black;
}

.leftarrow1 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: -150px;
}

.account-button {
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 3rem;
  font-weight: 200;
  width: 285px;
  height: 69px;
  color: #ffffff;
  border: 1px $secondary-color-orange solid;
  background-color: $secondary-color-orange;
  box-shadow: 6px 8px 0 0 #000000;
  cursor: pointer;
}

.bloc2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
